force-app/main/default/flows/IP_Disclosure_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This is the path for a user to Update an existing disclosure already submitted. The assignment updates the Is_Record_Update variable, used throughout the flow to ensure that UPDATE steps are taken.</description>
        <name>IP_Is_Update</name>
        <label>Is Update</label>
        <locationX>447</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>IP_Is_Record_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IP_Lookup_Disclosure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is the path for a user creating a NEW disclosure. The assignment updates the Is_Record_Update variable, used throughout the flow to ensure that NEW/INSERT steps are taken.</description>
        <name>IP_Is_Update_False</name>
        <label>Is New Disclosure</label>
        <locationX>183</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>IP_Is_Record_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IP_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to populate the record variable.</description>
        <name>IP_Populate_Record_Variable</name>
        <label>Populate Record Variable</label>
        <locationX>1016</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Name_Short_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Technical_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Provide_a_brief_description_of_the_Intellectual_Property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Known_Variations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Are_there_any_possible_variations_of_this_IP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Known_Limitations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_What_are_the_disadvantages_or_limitations_of_this_Intellectual_Property_Can</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Materials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Please_describe_any_material_used_in_the_development_of_your_IP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Utility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_What_are_possible_uses_or_applications_of_this_Intellectual_Property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Novelty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_How_does_this_Intellectual_Property_differ_from_existing_technologies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Prior_Art_detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Are_you_aware_of_any_inventions_or_publications_by_others_that_are_related</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Known_Risks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Identify_and_explain_the_risks_technological_or_otherwise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Experimental_Verification_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Have_you_tested_the_IP_Experimentally</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Disclosure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Confirm_DisclosureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Disclosure_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IP_Disclosure.IP_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Confirm_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IP_Update_Disclosure</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This is a decision point to determine if user is creating a NEW disclosure or UPDATING an existing disclosure already created by checking if a Disclosure ID has been passed into the flow (Update) or not (Insert).</description>
        <name>IP_Check_for_Disclosure_ID</name>
        <label>Check for Disclosure ID</label>
        <locationX>179</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>IP_Is_Update_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Disclosure</defaultConnectorLabel>
        <rules>
            <name>IP_Disclosure_ID_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Disclosure_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IP_Is_Update</targetReference>
            </connector>
            <label>Update Disclosure</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that a Disclosure was returned and that we can continue with the flow, otherwise it defaults to a NEW record flow.</description>
        <name>IP_Check_for_Disclosure_Record</name>
        <label>Disclosure Found?</label>
        <locationX>443</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>IP_Is_Update_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IP_Disclosure_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Disclosure.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IP_Details_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Should the flow create a draft Disclosure record to start populating</description>
        <name>IP_Create_Draft</name>
        <label>Create Draft?</label>
        <locationX>445</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>IP_Sponsorship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IP_Draft_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Is_Record_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IP_Create_Draft_Disclosure</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>New version with descriptions added to the flow components</description>
    <formulas>
        <description>Sets the Disclosure Date to todays date when the end user confirms that they are happy to submit the Disclosure.</description>
        <name>IP_Confirm_DisclosureDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(IP_Offical_Submission_Confirmation, {!$Flow.CurrentDateTime},NULL)</expression>
    </formulas>
    <formulas>
        <name>IP_Confirm_Status</name>
        <dataType>String</dataType>
        <expression>IF({!IP_Offical_Submission_Confirmation}, &quot;Initial Disclosure&quot;, &quot;Draft&quot;)</expression>
    </formulas>
    <formulas>
        <name>IP_Current_User_ContactID</name>
        <dataType>String</dataType>
        <expression>IF({!IP_Is_Record_Update},
IF(ISBLANK({!IP_Disclosure.IP_Principal_Inventor_PI__c}), {!$User.ContactId}, {!IP_Disclosure.IP_Principal_Inventor_PI__c}),
 {!$User.ContactId}
)</expression>
    </formulas>
    <formulas>
        <name>IsUpdateorInsert</name>
        <dataType>String</dataType>
        <expression>IF({!IP_Is_Record_Update}, &quot;updated&quot;, &quot;created&quot;)</expression>
    </formulas>
    <interviewLabel>IP Disclosure Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IP Disclosure Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a new draft Disclosure to save information to.</description>
        <name>IP_Create_Draft_Disclosure</name>
        <label>Create Draft Disclosure</label>
        <locationX>184</locationX>
        <locationY>626</locationY>
        <assignRecordIdToReference>IP_Disclosure_ID</assignRecordIdToReference>
        <connector>
            <targetReference>IP_Sponsorship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IP_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IP_Known_Limitations__c</field>
            <value>
                <elementReference>IP_What_are_the_disadvantages_or_limitations_of_this_Intellectual_Property_Can</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Technical_Description__c</field>
            <value>
                <elementReference>IP_Provide_a_brief_description_of_the_Intellectual_Property</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Title__c</field>
            <value>
                <elementReference>IP_Name_Short_Description</elementReference>
            </value>
        </inputAssignments>
        <object>IP__c</object>
    </recordCreates>
    <recordLookups>
        <description>The lookup gets required data from the IP object based on the Disclosure ID which was passed into the flow at the beginning. If there is a fault, it will exit to the generic Error Screen.</description>
        <name>IP_Lookup_Disclosure</name>
        <label>Lookup Disclosure</label>
        <locationX>659</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IP_Check_for_Disclosure_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IP_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IP_Disclosure_ID</elementReference>
            </value>
        </filters>
        <object>IP__c</object>
        <outputReference>IP_Disclosure</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IP_Category__c</queriedFields>
        <queriedFields>IP_Commercial_Market__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>IP_Disclosure_Date__c</queriedFields>
        <queriedFields>IP_Experimental_Verification__c</queriedFields>
        <queriedFields>IP_External_Reference__c</queriedFields>
        <queriedFields>IP_Future_Publications__c</queriedFields>
        <queriedFields>IP_Compact_Title__c</queriedFields>
        <queriedFields>IP_Novelty__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IP_Title__c</queriedFields>
        <queriedFields>IP_Utility__c</queriedFields>
        <queriedFields>IP_Known_Limitations__c</queriedFields>
        <queriedFields>IP_Known_Risks__c</queriedFields>
        <queriedFields>IP_Known_Variations__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>Non_Confidential_Description__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IP_ParentIP__c</queriedFields>
        <queriedFields>IP_Prior_Art__c</queriedFields>
        <queriedFields>IP_Prior_Art_detail__c</queriedFields>
        <queriedFields>IP_Public_Disclosure__c</queriedFields>
        <queriedFields>IP_Public_Disclosure_Details__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>IP_Sponsored_Program__c</queriedFields>
        <queriedFields>IP_Status__c</queriedFields>
        <queriedFields>IP_Technical_Description__c</queriedFields>
        <queriedFields>IP_Total_Percentage_Share__c</queriedFields>
        <queriedFields>IP_Total_Primary_Contributions__c</queriedFields>
        <queriedFields>Trademark_Classes__c</queriedFields>
        <queriedFields>IP_Materials__c</queriedFields>
        <queriedFields>IP_Sponsored_Program_Detail__c</queriedFields>
        <queriedFields>IP_Experimental_Verification_Detail__c</queriedFields>
        <queriedFields>IP_Principal_Inventor_PI__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update existing disclosure.</description>
        <name>IP_Update_Disclosure</name>
        <label>Save Disclosure</label>
        <locationX>1237</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>IP_Final_Create_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IP_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>IP_Disclosure</inputReference>
    </recordUpdates>
    <screens>
        <description>Screen to gather the IP Name, Description, Variations, and Limitations on the disclosure from the user.</description>
        <name>IP_Details_Screen</name>
        <label>IP Details</label>
        <locationX>183</locationX>
        <locationY>429</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Create_Draft</targetReference>
        </connector>
        <fields>
            <name>IP_Name_Short_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IP_Disclosure.IP_Title__c</elementReference>
            </defaultValue>
            <fieldText>IP Name/Short Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IP_Provide_a_brief_description_of_the_Intellectual_Property</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Technical_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Provide a brief description of the Intellectual Property</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IP_Are_there_any_possible_variations_of_this_IP</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Known_Variations__c}</stringValue>
            </defaultValue>
            <fieldText>Are there any possible variations of this IP</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IP_What_are_the_disadvantages_or_limitations_of_this_Intellectual_Property_Can</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Known_Limitations__c}</stringValue>
            </defaultValue>
            <fieldText>What are the disadvantages or limitations of this Intellectual Property? Can these be solved? How?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Fault screen</description>
        <name>IP_Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1232</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IP_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(186, 0, 0);&quot;&gt;There was an error saving the record&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IP_ErrorScreen_DisplayText_Bottom</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;If you recognise the error message above, then you may try saving the record again by pressing the PREVIOUS button below. Otherwise, please contact your Salesforce administrator with the error message mentioned above.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to determine if user has tested the disclosure experimentally, and if so to provide further details.</description>
        <name>IP_Experimental_Verification</name>
        <label>Experimental Verification</label>
        <locationX>772</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Prior_Art</targetReference>
        </connector>
        <fields>
            <name>IP_Have_you_tested_the_IP_Experimentally</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Experimental_Verification_Detail__c}</stringValue>
            </defaultValue>
            <fieldText>Have you tested the IP Experimentally?  If so, please provide details below.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen where files are uploaded.</description>
        <name>IP_FileUploadScreen</name>
        <label>Files, Documents and Supporting Evidence</label>
        <locationX>1236</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Final_Submission_Check</targetReference>
        </connector>
        <fields>
            <name>IP_FileUploadText</name>
            <fieldText>&lt;p&gt;Please upload all Files, Documents and Supporting Evidence below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IP_Document_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload all related documents and evidence which relate to this disclosure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IP_Disclosure_ID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>File_Content_ID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Final disclosure creation screen.</description>
        <name>IP_Final_Create_Screen</name>
        <label>Final Create Screen</label>
        <locationX>1489</locationX>
        <locationY>578</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IP_CreateNewDisclosure</name>
            <fieldText>&lt;p&gt;Your record has been successfully {!IsUpdateorInsert}!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ID:  {!IP_Disclosure.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IP_Final_Submission_Check</name>
        <label>Final Submission Check</label>
        <locationX>1236</locationX>
        <locationY>787</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Populate_Record_Variable</targetReference>
        </connector>
        <fields>
            <name>IP_FinalSubmission_CheckText</name>
            <fieldText>&lt;p&gt;Check the box below to confirm that you want to submit this disclosure, acknowledging the following statement:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To the best of my knowledge, I confirm that the subject matter disclosed herein is accurate and original to me.&amp;nbsp;I understand that I am subject to the University’s policies, including the University’s Intellectual Property policy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IP_Offical_Submission_Confirmation</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I want to officially submit this Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IP_Submission_Confirmation_TextBottom</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Note: If you are not ready to submit this disclosure yet, leave the checkbox above unchecked and click Next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to determine if any material was obtained from a source other than the laboratory or a commercial vendor for the disclosure.</description>
        <name>IP_Materials</name>
        <label>Materials</label>
        <locationX>352</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Utility</targetReference>
        </connector>
        <fields>
            <name>IP_Please_describe_any_material_used_in_the_development_of_your_IP</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Materials__c}</stringValue>
            </defaultValue>
            <fieldText>Please describe any material used in the development of your Intellectual Property if that material was obtained from some source other than your laboratory or a commercial vendor.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to determine how the disclosure differs from existing technologies and current practices, and what problems it solves.</description>
        <name>IP_Novelty</name>
        <label>Novelty</label>
        <locationX>623</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Experimental_Verification</targetReference>
        </connector>
        <fields>
            <name>IP_How_does_this_Intellectual_Property_differ_from_existing_technologies</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Novelty__c}</stringValue>
            </defaultValue>
            <fieldText>How does this Intellectual Property differ from existing technologies and current practices? What are its advantages and what problems does it solve?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to determine if user is aware of any prior inventions or publications by others, and if so to provide further details.</description>
        <name>IP_Prior_Art</name>
        <label>Prior Art</label>
        <locationX>913</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Risks</targetReference>
        </connector>
        <fields>
            <name>IP_Are_you_aware_of_any_inventions_or_publications_by_others_that_are_related</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Prior_Art__c}</stringValue>
            </defaultValue>
            <fieldText>Are you aware of any inventions or publications by others that are related to this Intellectual Property?  If so, please provide details below.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to determine if user has identified any risks to the commercialisation of the  disclosure and to provide the greatest impediment to the adoption.</description>
        <name>IP_Risks</name>
        <label>Risks</label>
        <locationX>1069</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_FileUploadScreen</targetReference>
        </connector>
        <fields>
            <name>IP_Identify_and_explain_the_risks_technological_or_otherwise</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Known_Risks__c}</stringValue>
            </defaultValue>
            <fieldText>Identify and explain the risks (technological or otherwise) that could jeopardise the commercialisation of this Intellectual Property.  Describe the greatest impediment to the adoption of your Intellectual Property.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to gather if the disclosure is within scope of another sponsored program from the user.</description>
        <name>IP_Sponsorship</name>
        <label>Sponsorship</label>
        <locationX>352</locationX>
        <locationY>790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Materials</targetReference>
        </connector>
        <fields>
            <name>Was_the_Intellectual_Property_conceived_within_the_scope_of_a_sponsored_program</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Sponsored_Program_Detail__c}</stringValue>
            </defaultValue>
            <fieldText>Was the Intellectual Property conceived within the scope of a sponsored program?  If so, please provide details below.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to determine possible uses or applications, now and in the future, of the disclosure.</description>
        <name>IP_Utility</name>
        <label>Utility</label>
        <locationX>472</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IP_Novelty</targetReference>
        </connector>
        <fields>
            <name>IP_What_are_possible_uses_or_applications_of_this_Intellectual_Property</name>
            <defaultValue>
                <stringValue>{!IP_Disclosure.IP_Utility__c}</stringValue>
            </defaultValue>
            <fieldText>What are possible uses or applications of this Intellectual Property? In addition to direct applications, are there any other uses that might be realised in the future?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IP_Check_for_Disclosure_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>File_Content_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Looks up the contact related to the currently logged in user.</description>
        <name>IP_Current_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IP_CurrentPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Container object for the disclosure form.  This would be pre populated if disclosure ID is passed into the flow.  Otherwise this would be used to store information that would be submitted to Salesforce at the end of the flow.</description>
        <name>IP_Disclosure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IP__c</objectType>
    </variables>
    <variables>
        <description>External ID for this disclosure.</description>
        <name>IP_Disclosure_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IP_Is_Record_Update</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IP_PIToReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
