force-app/main/default/flows/TTS_Auto_Update_PI_on_Technology.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Mode</name>
        <label>Mode</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Original_Inventor_Mode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_Original_Inventor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_AlternativeContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Is_Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PI_on_Technology_Alt</targetReference>
            </connector>
            <label>Original Inventor Mode</label>
        </rules>
        <rules>
            <name>Alternative_Inventor_Mode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_AlternativeContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Original_Inventor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Is_Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PI_on_Technology</targetReference>
            </connector>
            <label>Alternative Inventor Mode</label>
        </rules>
    </decisions>
    <interviewLabel>TTS - Auto Update PI on Technology {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TTS - Auto Update PI on Technology</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_PI_on_Technology</name>
        <label>Update PI on Technology</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IP_Contribution__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_Principal_Inventor_PI__c</field>
            <value>
                <elementReference>$Record.IP_Original_Inventor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>TTS_Technology__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PI_on_Technology_Alt</name>
        <label>Update PI on Technology</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IP_Contribution__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_Principal_Inventor_PI__c</field>
            <value>
                <elementReference>$Record.IP_AlternativeContact__c</elementReference>
            </value>
        </inputAssignments>
        <object>TTS_Technology__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mode</targetReference>
        </connector>
        <object>TTS_Inventor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
