force-app/main/default/flows/TTS_Generate_Tech_Record_from_Disclosure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>If a Technology record has already been linked, then show a screen to state this instead of creating another technology record.</description>
        <name>Disclosure_Already_Linked</name>
        <label>Disclosure Already Linked</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Initial_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disclosure_Record_Details.Technology__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Created</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Generates a Technology Record from a related Disclosure Record.</description>
    <environments>Default</environments>
    <interviewLabel>TTS - Generate Tech Record from Disclosure {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TTS - Generate Tech Record from Disclosure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Technology_Record</name>
        <label>Create Technology Record</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Disclosure_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>IP_Disclosure_Date__c</field>
            <value>
                <elementReference>Get_Disclosure_Record_Details.Disclosure_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Status__c</field>
            <value>
                <stringValue>Initial Disclosure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Title__c</field>
            <value>
                <elementReference>Get_Disclosure_Record_Details.Disclosure_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRL__c</field>
            <value>
                <stringValue>TRL 1</stringValue>
            </value>
        </inputAssignments>
        <object>TTS_Technology__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Disclosure_Record_Details</name>
        <label>Get Disclosure Record Details</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disclosure_Already_Linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TTS_Disclosure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disclosure_Record</name>
        <label>Update Disclosure Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Disclosure_Record_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technology__c</field>
            <value>
                <elementReference>Create_Technology_Record</elementReference>
            </value>
        </inputAssignments>
        <object>TTS_Disclosure__c</object>
    </recordUpdates>
    <screens>
        <name>Already_Created</name>
        <label>Already Created</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyCreatedText</name>
            <fieldText>&lt;p&gt;A technology record has already been created called: {!Get_Disclosure_Record_Details.Technology__r.IP_Compact_Title__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Clicking Finish will now end the flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Technology_Record</targetReference>
        </connector>
        <fields>
            <name>DisclosureDetailText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Generate Technology Record&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;By clicking on FINISH this action will automatically generate a new technology record based on the information submitted on this Disclosure record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In addition, the following Disclosure record will be marked as &quot;Approved&quot; and the resulting Technology record will be linked in the Technology lookup field.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Disclosure Record Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Title: {!Get_Disclosure_Record_Details.Disclosure_Title__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Disclosure_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
