force-app/main/default/flows/TTS_Disclosure_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>IsExistingRecord</name>
        <label>IsExistingRecord</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ExistingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Disclosure_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>True if a recordID has been submitted</description>
        <name>Existing_Disclosure</name>
        <label>Existing Disclosure</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Disclosure_Submission_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Existing_Disclosure_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsExistingRecord</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Disclosure_Submission_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Disclosure_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Record_Found</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Create_Record</name>
        <label>Update or Create Record</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Disclosure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Creates a screen flow (form) which can be used by inventors to submit Disclosures.</description>
    <dynamicChoiceSets>
        <name>Current_Technology_Protections_Multi</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Protections__c</picklistField>
        <picklistObject>TTS_Disclosure__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Funding_Source_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Funding_Source__c</picklistField>
        <picklistObject>TTS_Disclosure__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>TTS - Disclosure Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TTS - Disclosure Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Disclosure</name>
        <label>Create Disclosure</label>
        <locationX>468</locationX>
        <locationY>1310</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Supporting_Documents</targetReference>
        </connector>
        <inputAssignments>
            <field>Commercial_Applications__c</field>
            <value>
                <elementReference>Commercial_Applications_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Protection_Details__c</field>
            <value>
                <elementReference>Current_Protection_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Protections__c</field>
            <value>
                <elementReference>Current_Protections_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_Description__c</field>
            <value>
                <elementReference>Technology_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Details__c</field>
            <value>
                <elementReference>Funding_Details_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Source__c</field>
            <value>
                <elementReference>Primary_Funding_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TTS_Disclosure__c</object>
    </recordCreates>
    <recordLookups>
        <description>The disclosure record must still be in&quot;New&quot; status, otherwise an error will be shown.</description>
        <name>Get_Existing_Disclosure_Record</name>
        <label>Get Existing Disclosure Record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TTS_Disclosure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Submit_Disclosure</name>
        <label>Submit Disclosure</label>
        <locationX>336</locationX>
        <locationY>1766</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <object>TTS_Disclosure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>204</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Supporting_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Disclosure_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Applications__c</field>
            <value>
                <elementReference>Commercial_Applications_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Protection_Details__c</field>
            <value>
                <elementReference>Current_Protection_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Protections__c</field>
            <value>
                <elementReference>Current_Technology_Protections_Multi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_Description__c</field>
            <value>
                <elementReference>Technology_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Details__c</field>
            <value>
                <elementReference>Funding_Details_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Source__c</field>
            <value>
                <elementReference>Primary_Funding_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TTS_Disclosure__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>336</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_Disclosure</targetReference>
        </connector>
        <fields>
            <name>Disclosure_Confirmation_Screen</name>
            <fieldText>&lt;p&gt;{!$Label.TTS_Disclosure_Confirmation_Screen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disclosure_Submission_Screen</name>
        <label>Disclosure Submission Screen</label>
        <locationX>336</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_or_Create_Record</targetReference>
        </connector>
        <fields>
            <name>Disclosure_Submission_Help_Text</name>
            <fieldText>&lt;p&gt;Complete the disclosure submission form below, with as much information as you can. You can use the &quot;Pause&quot; button to pause the submission and return later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>General_HelpText</name>
                    <fieldText>&lt;p&gt;{!$Label.TTS_Disclosure_DetailsHelp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_Disclosure_Record.Disclosure_Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Technology_Description</name>
                    <defaultValue>
                        <stringValue>{!Get_Existing_Disclosure_Record.Disclosure_Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Technology Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Provide an overview of the technology.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commercial_Applications</name>
            <fieldText>Commercial Applications</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commercial_Applications_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Commercial_Apps_Help</name>
                    <fieldText>&lt;p&gt;{!$Label.TTS_Disclosure_CommercialAppHelp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Commercial_Applications_Detail</name>
                    <defaultValue>
                        <stringValue>{!Get_Existing_Disclosure_Record.Commercial_Applications__c}</stringValue>
                    </defaultValue>
                    <fieldText>Commercial Applications Detail</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Current_Protections</name>
            <fieldText>Current Protections</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_Protections_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentProtections_Help</name>
                    <fieldText>&lt;p&gt;{!$Label.TTS_Disclosure_CurrentProtectHelp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Current_Protections_Selection</name>
                    <choiceReferences>Current_Technology_Protections_Multi</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_Disclosure_Record.Current_Protections__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Protections</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_Protection_Details</name>
                    <defaultValue>
                        <stringValue>{!Get_Existing_Disclosure_Record.Current_Protection_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Current Protection Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Current_Protections_Selection</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Current_Protections_Selection</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Funding_Details</name>
            <fieldText>Funding Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Funding_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingSources_Help</name>
                    <fieldText>&lt;p&gt;{!$Label.TTS_Funding_HelpText}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Primary_Funding_Source</name>
                    <choiceReferences>Funding_Source_List</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_Disclosure_Record.Funding_Source__c</elementReference>
                    </defaultValue>
                    <fieldText>Primary Funding Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Funding_Details_Detail</name>
                    <defaultValue>
                        <stringValue>{!Get_Existing_Disclosure_Record.Funding_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Funding Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Partnerships_and_Collaboration</name>
            <fieldText>Partnerships and Collaborations</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partnerships_and_Collaboration_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partnerships_Help</name>
                    <fieldText>&lt;p&gt;{!$Label.TTS_Disclosure_PartnershipsHelp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Partnership_and_Collaboration_Detail</name>
                    <defaultValue>
                        <stringValue>{!Get_Existing_Disclosure_Record.Partnership_Collaboration_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Partnership and Collaboration Detail</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <pausedText>&lt;p&gt;The Disclosure Submission has been saved in it current state and can be accessed later to make further changes, providing it has not been submitted.&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Record_Found</name>
        <label>No Record Found</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_No_Record</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: No Record has been found for the ID provided.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Check that you are attempting to edit an existing Disclosure Record which has not already been submitted.&lt;/li&gt;&lt;li&gt;Confirm that you still have access to the record&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Troubleshooting Information:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The record id submitted was {!recordId} and no record was found matching that ID and/or the record specified by the ID is no longer in a Draft status (i.e. has the status &quot;New&quot;)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supporting_Documents</name>
        <label>Supporting Documents</label>
        <locationX>336</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>DocsHelp</name>
            <fieldText>&lt;p&gt;{!$Label.TTS_Disclosure_DocsHelp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supporting_Documents_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supporting Documentation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Disclosure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The associated RecordID for the Disclosure Record. This is designed to be used on a Disclosure Record Page within the Salesforce Org or within the disclosure detail page of an Experience Cloud site.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
