force-app/main/default/flows/TTS_Tenant_Fee_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Calculate_Days</name>
        <label>Calculate Days</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalRecurrences</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDays</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_Months</name>
        <label>Calculate Months</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalRecurrences</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonthCalculator</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_Years</name>
        <label>Calculate Years</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalRecurrences</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YearsCalculator</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Anually</name>
        <choiceText>Annually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annually</stringValue>
        </value>
    </choices>
    <choices>
        <name>DailyRecurrence</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Recurring_Set</name>
        <label>Is Recurring</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Single_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Recurring</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurrence_Mode</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurrence_Mode</name>
        <label>Recurrence</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurrence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DailyRecurrence</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Days</targetReference>
            </connector>
            <label>Daily</label>
        </rules>
        <rules>
            <name>Monthly_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurrence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Monthly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Months</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Annually_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurrence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Anually</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Years</targetReference>
            </connector>
            <label>Annually</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>TTS_Space_Fee__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculateDays</name>
        <dataType>Number</dataType>
        <expression>{!End_Date} - {!Start_Date}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MonthCalculator</name>
        <dataType>Number</dataType>
        <expression>(MONTH({!End_Date}) + (12*(YEAR({!End_Date})-YEAR({!Start_Date}))) - MONTH({!Start_Date}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YearsCalculator</name>
        <dataType>Number</dataType>
        <expression>(ABS(YEAR({!End_Date})-YEAR({!Start_Date})))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>TTS - Tenant Fee Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TTS - Tenant Fee Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Single_Record</name>
        <label>Create Single Record</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Agreed_Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>SpaceRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>TTS_Space_Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Fee_Setup</name>
        <label>Fee Setup</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Recurring_Set</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>TypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Discount (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>Total_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Total Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Is_Recurring</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Recurring Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DT_Recurrence</name>
            <fieldText>&lt;p&gt;Ensure that you provide a start date and end date, along with a recurrence.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Recurring</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fee_Setup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fee_Setup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Required Field if this is a recurring charge&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Is_Recurring}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Recurring</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Recurrence</name>
                    <choiceReferences>DailyRecurrence</choiceReferences>
                    <choiceReferences>Monthly</choiceReferences>
                    <choiceReferences>Anually</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recurrence</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Recurring</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Setup_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Recurring</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fee_Setup</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>RecordsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TTS_Space_Fee__c</objectType>
    </variables>
    <variables>
        <name>SpaceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalRecurrences</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
